.admin > div {
  padding: 20px;
}

.admin > .card {
  min-height: 30em;
}

.scroll {
  overflow: scroll;
}

.admin ul {
  margin: 0;
}

.admin-editor-panel {
  padding: 0 !important;
}

.admin-scraper-body {
  height: 20em;
  background-color: red;
}

.admin button {
  float:right;
  margin-left: 10px;
}

.admin-add-sitem {
  width: 49%;
  display: inline-block;
  height: 24em;
}

.admin-add-sitem-list {
  height: 10em;
}

.admin-show-sitem {
  width: 49%;
  height: 24em;
  display: inline-block;
  float: right;
}
