.wrapper {
  margin: 5rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  grid-template-areas: "newsearch wordcloud";
  grid-template-columns: repeat(2, 1fr);
  height: 72vh;
}

.new_search {
  grid-area: newsearch;
  display: inline;
  background-color: white;
}

.wordcloud {
  grid-area: wordcloud;
  display: inline;
  background-color: white;
}

@media screen
  and (max-width: 1000px)
  and (min-width: 500px) {
    .wrapper {
      margin: 0px;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      height: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "newsearch"
            "wordcloud";
    }

    input.searchfield{
      margin-top: 4rem;
    }
    .new_search{
      padding-bottom: 4rem;
    }
}

@media screen
  and (max-width: 500px)
  and (min-width: 320px) {
    .wrapper {
      height: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "newsearch"
            "wordcloud";
      margin: 0px;
      margin-top: 2rem;
    }

    input.searchfield{
      margin-top: 4rem;
    }

    .new_search{
      padding-bottom: 4rem;
    }

    div.filter_source{
      min-width: 0rem;
      width: 7.9rem;
      margin-left: 5px;
    }

    div.each_Checkbox{
      font-size: 0.9rem;
    }

    p {
      font-size: 0.9rem;
    }

    div.datepickerinterval{
      font-size: 0.9rem;
    }
    input.searchNews {
      width: 80%;
    }

    div.title_Analysis{
      font-size: 1.2rem;
    }

    div.filter_time{
      min-width: 0rem;
      width: 8rem;
    }

    div.react-datepicker__input-container{
      width: 90%;
      padding: 0px;
    }

    div.analysis-check{
      font-size: 0.9rem;
    }

    div#filter.flexContainer.apply_filter{
      margin: 0px;
      margin-left: 0.6rem
    }

    div.react-datepicker{
      display: none;
    }
}
