text[fill="#F7E8D9"] {
  display: none;
}

div.label_anger {
  padding-top: 20px;
  color: #E26D5A;
  font-size: 20px;
  font-family: 'sans-serif';
}

div.label_sadness {
  padding-top: 20px;
  color: #3D70B2;
  font-size: 20px;
  font-family: 'sans-serif';
}

div.label_fear {
  padding-top: 20px;
  color: #3A405A;
  font-size: 20px;
  font-family: 'sans-serif';
}

div.label_joy {
  padding-top: 20px;
  color: #D3C0CD;
  font-size: 20px;
  font-family: 'sans-serif';
}

div.label_disgust {
  padding-top: 20px;
  color: #9FAF90;
  font-size: 20px;
  font-family: 'sans-serif';
}
