.dropdown {
  width: 10rem;
  position:relative;
  background: white;
  border-right: 0.1px solid rgba(0, 0, 0, .5);
  min-height: 2.8rem;
}

.dropdown_title {
  margin-top: 7%;
  margin-left: 8%;
}

.arrowDown {
  float: right;
}
