body {
  font-style: Optima, sans-serif;
}

.resultSentiment {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 10px 380px 30px 290px 40px 290px 40px 290px 10px;
  height: 100px;
  justify-content: center;
  grid-row-gap: 15px;
}

.resultSentiment > .resultSentiment_filter {
  grid-column: 2 / 9;
  grid-row: 1 / 2;
  background-color: white;
  height: 50px;
}

.resultSentiment > .resultSentiment_parameters {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: white;
  height: 220px;
}

.resultSentiment > .resultSentiment_graphs_negative {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  height: 220px;
  background-color: white;
}

.resultSentiment > .resultSentiment_graphs_neutral {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  height: 220px;
  background-color: white;
}

.resultSentiment > .resultSentiment_graphs_positive {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
  height: 220px;
  background-color: white;
}

.resultSentiment > .resultSentiment_emotionalTone {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  height: 330px;
  background-color: white;
}

.resultSentiment > .resultSentiment_articles {
  grid-column: 4 / 9;
  grid-row: 5 / 6;
  height: 330px;
  background-color: white;
  overflow-y:scroll;
}

.filterSentiment_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterSentiment_bar div {
  float: left;
}

.exportPDF {
  margin-top: 8px;
  float: right;
  padding-top: 4px;
  margin-right: 8px;

}

.graphs {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px
}

.graph {
  margin: 20%;
}

.param_card {
  margin: 5%;
  width: 85%;
}

.title_param {
  font-size: 21px;
  margin-left: 5%;
  margin-top: 5%;
}

li {
  margin-top: 2%;
}
