body {
  font-style: Optima, sans-serif;
}

.resultSentiment {
  margin: 25px;
  display: grid;
  grid-gap: 22px;
  grid-template-areas: "filter filter filter filter filter filter"
        "param param param neg neu pos"
        "tone tone tone news news news";
}

.resultSentiment > .resultSentiment_filter {
  grid-area: filter;
  background-color: white;
  height: 2.8rem;
}

.resultSentiment > .resultSentiment_parameters {
  grid-area: param;
  background-color: white;
  height: 15rem;
}

.resultSentiment > .resultSentiment_graphs_negative {
  grid-area: neg;
  height: 15rem;
  min-width: 4rem;
  background-color: white;
}

.resultSentiment > .resultSentiment_graphs_neutral {
  grid-area: neu;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.resultSentiment > .resultSentiment_graphs_positive {
  grid-area: pos;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.resultSentiment > .resultSentiment_emotionalTone {
  grid-area: tone;
  height: 20.6rem;
  background-color: white;
}

.resultSentiment > .resultSentiment_articles {
  grid-area: news;
  height: 20.6rem;
  background-color: white;
  overflow-y:scroll;
}

.filterSentiment_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterSentiment_bar div {
  float: left;
}

.exportPDF {
  margin-top: 8px;
  float: right;
  padding-top: 4px;
  margin-right: 8px;

}

div.positive_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
}

div.negative_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
}

div.neutral_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
}

.param_card {
  margin: 5%;
}

.title_param {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 5%;
}

li {
  margin-top: 2%;
}

div.recharts-wrapper{
  max-height: 18rem ! important;
  margin-right: 10px;
}

div.graphs{
  max-height: 15rem;
}

@media screen
  and (max-width: 500px)
  and (min-width: 320px) {
    .resultSentiment > .resultSentiment_filter{
      display: none;
    }
    .resultSentiment {
      grid-template-areas: "filter filter filter"
            "param param param"
            "tone tone tone"
            "neg neu pos"
            "news news news";
      margin: 0px;
      overflow-y: hidden;

    }
  }
