body {
  font-style: Optima, sans-serif;
}

.result {
  margin: 25px;
  display: grid;
  grid-gap: 22px;
  grid-template-areas: "filter filter filter filter filter filter filter"
        "param param joy anger disgust sad fear"
        "tone tone news news news news news";
}

.result > .result_filter {
  grid-area: filter;
  background-color: white;
  height: 2.8rem;
}

.result > .result_parameters {
  grid-area: param;
  background-color: white;
  height: 15rem;
  min-width: 20rem;
}

.result > .result_graphs_joy {
  grid-area: joy;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.result > .result_graphs_anger {
  grid-area: anger;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.result > .result_graphs_disgust {
  grid-area: disgust;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.result > .result_graphs_sadness {
  grid-area: sad;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.result > .result_graphs_fear {
  grid-area: fear;
  height: 15rem;
  background-color: white;
  min-width: 4rem;
}

.result > .result_graph{
  grid-area: tone;
  background-color: white;
  height: 22rem;
  min-width: 20rem;
}

.result > .result_news {
  grid-area: news;
  background-color: white;
  height: 22rem;
  overflow-y:scroll;
}

div.joy_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
  min-width: 4rem;
}

div.fear_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
  min-width: 4rem;
}

div.disgust_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
  min-width: 4rem;
}

div.anger_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
  min-width: 4rem;
}

div.sadness_chart{
  padding-top: 0.4rem;
  max-width: 10rem;
  min-width: 4rem;
}


div.graphs{
  max-height: 15rem;
}

.exportPDF {
  margin-top: 8px;
  float: right;
  padding-top: 4px;
  margin-right: 8px;
}

.param_card {
  margin: 5%;
  width: 85%;
}

.title_param {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 5%;
}

li {
  margin-top: 2%;
}

.recharts-default-legend{
  visibility: hidden;
}

.recharts-legend-item{
  visibility: hidden;
}

.recharts-legend-item-text{
  visibility: hidden;
}

div.recharts-wrapper{
  max-height: 18rem ! important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.emotionalTone{
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

div.react-datepicker__current-month{
  margin-left: 35%;
}

.filter_bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter_bar div {
  float: left;
}

@media screen
  and (max-width: 730px)
  and (min-width: 320px) {
    .result > .result_filter{
      display: none;
    }
    .result {
      grid-template-areas: "filter filter filter"
            "param param param"
            "joy anger disgust"
            "sad fear ."
            "tone tone tone"
            "news news news";
      margin: 0px;
      overflow-y: hidden;

    }
  }

@media screen
  and (max-width: 1000px)
  and (min-width: 730px) {
    .result {
      grid-template-areas: "filter filter filter filter filter filter"
            "param param param tone tone tone"
            "joy joy anger anger disgust disgust"
            "sad sad sad fear fear fear"
            "news news news news news news";
      margin: 0px;
      overflow-y: hidden;
    }

    div.result_filter{
      margin-top: 10px;
    }

    div.result_parameters{
      min-height: 22rem;
    }
  }
